[Unit]
Description=Phone Home Monitor
After=network.target auditd.service

[Service]
ExecStart=/usr/bin/java -Djava.net.preferIPv4Stack=true -jar /opt/phm/phonehomemonitor-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target

